a {
	display: inline-block;
}
div {
	margin: 0 auto;
	text-align: center;
}

#div1 {
	margin-top: 5rem;
	height: 10rem;
	width: 10rem;
}

#div2 {
	height: 10rem;
	width: 10rem;
}

#div3 {
	height: 10rem;
	width: 10rem;
}